In [11]:
# Name: Ghawate Siddharth
# Roll.no: 53
# Division: A

import pandas as pd

sampledata = {
    'Student': ['A', 'B', 'C', 'D', 'E'],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
    'Stream': ['Science', 'Commerce', 'Arts', 'Science', 'Commerce'],
    'Attendance (%)': [85, 92, 75, 88, 60],
    'Study Hours/Week': [10, 14, 11, 11, 6],
    'Grade': ['B', 'A', 'C', 'B', 'D'],
    'Hostel Resident': ['Yes', 'No', 'Yes', 'No', 'Yes'],
}

sample_df = pd.DataFrame(sampledata)
sample_df

,Student,Gender,Stream,Attendance (%),Study Hours/Week,Grade,Hostel Resident
0,A,Male,Science,85,10,B,Yes
1,B,Female,Commerce,92,14,A,No
2,C,Male,Arts,75,11,C,Yes
3,D,Female,Science,88,11,B,No
4,E,Male,Commerce,60,6,D,Yes

In [12]:
# Corrected column_types dictionary for sampledata
column_types = {
    'Student': 'Qualitative - Nominal',
    'Gender': 'Qualitative - Nominal',
    'Stream': 'Qualitative - Nominal',
    'Attendance (%)': 'Quantitative - Continuous',
    'Study Hours/Week': 'Quantitative - Discrete',
    'Grade': 'Qualitative - Ordinal',
    'Hostel Resident': 'Qualitative - Nominal',
}

for col, dtype in column_types.items():
    print(f"{col}: {dtype}")

Student: Qualitative - Nominal
Gender: Qualitative - Nominal
Stream: Qualitative - Nominal
Attendance (%): Quantitative - Continuous
Study Hours/Week: Quantitative - Discrete
Grade: Qualitative - Ordinal
Hostel Resident: Qualitative - Nominal

In [13]:
# Pandas inferred data types
sample_df.dtypes

Student             object
Gender              object
Stream              object
Attendance (%)       int64
Study Hours/Week     int64
Grade               object
Hostel Resident     object
dtype: object

In [14]:
#Reverse string
def revstring(s) :
    rev = ""
    for char in s:
        rev = char + rev
    return rev
text = "Hello World"
print(revstring(text))

dlroW olleH

In [15]:
#fibonacci series
n = 10
a=0
b=1
for i in range(n):
    print(a,end='')
    a = b
    b = a + b

01248163264128256

In [16]:
for num in range(2, 51):
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            break
    else:
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [17]:
n = 0
fact = 1
for i in range(1, n+1):
    fact *= i
print("Factorial of", n, "is", fact)

Factorial of 0 is 1

In [18]:
rows = 5
for i in range(1, rows+1):
    print(" " * (rows-i) + "*" * (2*i-1))

    *
   ***
  *****
 *******
*********

In [19]:
rows = 5
for i in range(1, rows+1):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [20]:
rows = 5
for i in range(rows, 0, -1):
    print("*" * i)

*****
****
***
**
*